@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");


  :local(.wrapper){
    width:100%;
    height: 100vh;
  }

:local(.containerOne){
position: relative;
width:100%;
height: 100vh;
background-image: linear-gradient(rgba(99, 110, 114, 0.7), rgba(45, 52, 54, 0.8), rgba(178, 190, 195, 0.5)), url("../images/kishor.jpg");
background-size: cover;
filter: grayscale(70%);
}

:local(.textOne){
    position: absolute;
    top:50%;
    left:40%;  
    text-align:center;
    color:rgb(255, 255, 255);
}

:local(.headingOne){
font-size: 60px;
}

:local(.paraOne){
    font-size: 20px;
    }

:local(.containerTwo){
      margin-top: 12vh;
      margin-bottom: 100px;
      width: 100%;
      height:600px;
      display: flex;    
      justify-content: space-between;
      align-content: center;
  }

  :local(.textTwo){
      width:40%;
      margin-top:80px;
      margin-left:100px;
      margin-right:110px;
  }

  :local(.imageTwo){
   width:40%;
      height: 600px;
      margin-right: 5px;
      border:2px solid black;
      overflow: hidden;
  }

  :local(.imageTwo img){
  width:100%;
  height: 100%;
  filter:grayscale(70%);
  }
  
  :local(.paraTwo){
    margin-top: 5px;
    line-height: 25px;
    letter-spacing: 1px;
    font-size: 17px;
  }

  @media (max-width: 1000px){
    :local(.textOne){
      position: absolute;
      top:50%;
      left:30%;  
      text-align:center;
      color:rgb(255, 255, 255);
  }

  :local(.headingOne){
    font-size: 50px;
    }

  :local(.paraOne){
      font-size: 18px;
  }

      :local(.containerTwo){
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: center;
        margin-top: -20px;
      }

      :local(.textTwo)
       {
        width: 100%;
        height: auto;
        margin-left: -5px;
        margin-bottom: 20px; 
      }

      :local(.headingTwo){
        width: 100%;
        text-align: center;
        font-size:30px;
      }

      :local(.paraTwo)
       {
        font-size: 18px;
        line-height: 30px;
        letter-spacing: 1px;
      }
      
      :local(.imageTwo)
       {
        width: 80%;
        margin-left: 10%;
        height: 600px;
        border: 2px solid black;
        overflow: hidden;
      }

      :local(.imageTwo img)
       {
        width: 100%;
        height: 100%;
        filter: grayscale(70%);
        transition: all 1s;
      }
      
  }
  @media (max-width: 800px){
    :local(.textOne){
      position: absolute;
      top:50%;
      left:30%;  
      text-align:center;
      color:rgb(255, 255, 255);
  }

  :local(.headingOne){
    font-size: 45px;
    }

  :local(.paraOne){
      font-size: 17px;
  }
      :local(.containerTwo)
       {
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: center;
        margin-top: -20px;
      }

      :local(.textTwo)
       {
        width: 100%;
        height: auto;
        margin-left: -5px;
        margin-bottom: 20px; 
      }

      :local(.headingTwo){
        width: 100%;
        text-align: center;
        font-size:28px;
      }

      :local(.paraTwo)
       {
        font-size: 16px;
        line-height: 28px;
        letter-spacing: 1px;
      }
      
      :local(.imageTwo)
       {
        width: 80%;
        margin-left: 10%;
        height: 500px;
        border: 2px solid black;
        overflow: hidden;
      }

      :local(.imageTwo img)
       {
        width: 100%;
        height: 100%;
        filter: grayscale(70%);
        transition: all 1s;
      }
       
  }

  @media (max-width: 600px){      
      :local(.textOne){
          position: absolute;
          top:50%;
          left:20%;  
          text-align:center;
          color:rgb(255, 255, 255);
      }

      :local(.headingOne){
        font-size: 40px;
        }
      :local(.paraOne){
          font-size: 16px;
      } 
          :local(.containerTwo)
           {
            width: 100%;
            height: auto;
            display: flex;
            flex-wrap: nowrap;
            flex-direction: column;
            justify-content: center;
            margin-top: -20px;
          }
          
          :local(.textTwo)
           {
            width: 100%;
            height: auto;
            margin-left: -5px;
            margin-bottom: 20px;
          }

          :local(.headingTwo){
            width: 100%;
            text-align: center;
            font-size:25px;
            margin-left: -15px;
          }

          :local(.paraTwo)
           {
            font-size: 15px;
            line-height: 25px;
            letter-spacing: 1px;
          }
  
          :local(.imageTwo)
           {
            width: 80%;
            margin-left: 10%;
            height: 400px;
            border: 2px solid black;
            overflow: hidden;
          }

          :local(.imageTwo img)
           {
            width: 100%;
            height: 100%;
            filter: grayscale(70%);
            transition: all 1s;
           }
      }