@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
  
  :local(.wrapper){
    width:100%;
    height: 100vh; 
  }

:local(.container_one){
margin-top:5vh;
position: relative;
width:100%;
height: 100vh;
background-image: linear-gradient(rgba(99, 110, 114, 0.7), rgba(45, 52, 54, 0.8), rgba(178, 190, 195, 0.5)), url("../images/contact_pic.jpg");
background-size: cover;
filter: grayscale(70%); 
}

:local(.text_one){
    position: absolute;
    margin-top:50vh;
    width:100%;
    text-align:center;
    color:rgb(255, 255, 255);
}

:local(.heading_one){
font-size: 50px;
}

:local(.para_one){
    font-size: 20px;
    }

    :local(.connect_one){
        margin-top:100px;
        margin-bottom: 20px;
        text-align: center;
        font-size: 30px;
    }

    :local(.connect_two){
        margin-top:20px;
        margin-bottom: 20px;
        text-align: center;
        font-size: 30px;
    }

    :local(.contact_icon){
        margin-top:20px;
        margin-bottom: 50px;
        text-align: center;
        font-size: 20px;
    }

    :local(.email){
        
        font-size: 15px;
    }

    :local(.phone){
        margin-right:45px;
        font-size: 15px;
    }

:local(.place){
    margin-right:38px;
    font-size: 15px;
}

    :local(.social_icon){
        height:100px;
        display: flex;
        justify-content: center;
        align-content: center;
    }
    
    :local(.social_link){
        width: 50px;
        height:50px;
        background-color:rgba(223, 230, 233, 0.7);
        border-radius: 25px;
        text-align: center;
        margin:10px;
        line-height: 50px;
        box-shadow: 1px 4px 2px 2px #b2bec3b3 ;
    }

    :local(.social_link i){
        transition: all 0.3s linear; 
    }

    :local(.social_link:hover i){
        transform:scale(1.4);
    }
    
    
    @media (max-width: 1000px){
        :local(.container_one){
            margin-top:5vh;
        
        }

        :local(.text_one){
            position: absolute;
            margin-top:40vh;
            width:100%;
            text-align:center;
            color:rgb(255, 255, 255);
        }

        :local(.heading_one){
        font-size: 38px;
        }

        :local(.para_one){
            font-size: 20px;
            }
        
            :local(.connect_one){
                margin-top:100px;
                margin-bottom: 20px;
                text-align: center;
                font-size: 28px;
            }

            :local(.connect_two){
                margin-top:20px;
                margin-bottom: 20px;
                text-align: center;
                font-size: 28px;
            }

            :local(.contact_icon){
               
                margin-bottom: 100px;    
            }

            :local(.social_icon){
                height:90px;
                display: flex;
                justify-content: center;
                align-content: center;
            }

            :local(.social_link){
                width: 44px;
                height:44px;
                background-color:rgba(223, 230, 233, 0.7);
                border-radius: 22px;
                text-align: center;
                margin:10px;
                line-height: 45px;
                box-shadow: 1px 4px 2px 2px rgba(178, 190, 195, 0.7) ;
            }
    }

    @media (max-width: 800px){
        
        :local(.container_one){
            margin-top:5vh;
        }

        :local(.text_one){
            position: absolute;
            margin-top:40vh;
            width:100%;
            text-align:center;
            color:rgb(255, 255, 255);
        }

        :local(.heading_one){
        font-size: 35px;
        }

        :local(.para_one){
            font-size: 18px;
            }
        
            :local(.connect_one){
                margin-top:100px;
                margin-bottom: 20px;
                text-align: center;
                font-size: 25px;
            }
            :local(.connect_two){
                margin-top:20px;
                margin-bottom: 20px;
                text-align: center;
                font-size: 25px;
            }

            :local(.contact_icon){
                margin-bottom: 100px;  
            }

            :local(.social_icon){
                height:80px;
                display: flex;
                justify-content: center;
               
            }   
            :local(.social_link){
                width: 40px;
                height:40px;
                background-color:rgba(223, 230, 233, 0.7);
                border-radius: 20px;
                text-align: center;
                margin:10px;
                line-height: 50px;
                box-shadow: 1px 4px 2px 2px rgba(178, 190, 195, 0.7) ;
            }
    }

    @media (max-width: 600px){
        :local(.container_one){
            margin-top:5vh;
        }

        :local(.text_one){
            position: absolute;
            margin-top:40vh;
            width:100%;
            text-align:center;
            color:rgb(255, 255, 255);
        }

        :local(.heading_one){
        font-size: 30px;
        }

        :local(.para_one){
            font-size: 16px;
            }
        
            :local(.connect_one){
                margin-top:100px;
                margin-bottom: 20px;
                text-align: center;
                font-size: 20px;
            }

            :local(.connect_two){
                margin-top:20px;
                margin-bottom: 20px;
                text-align: center;
                font-size: 20px;
            }

            :local(.contact_icon){
               
                margin-bottom: 100px;
                
            }

            :local(.social_icon){
                height:60px;
                display: flex;
                justify-content: center;
                align-content: center;
            }

            :local(.social_link){
                width: 30px;
                height:30px;
                background-color:rgba(223, 230, 233, 0.7);
                border-radius: 15px;
                text-align: center;
                margin:5px;
                line-height: 35px;
                box-shadow: 1px 4px 2px 2px rgba(178, 190, 195, 0.7) ;
            }
    }
